<div>
  <table class="table">
    <thead>
      <tr class="table-row-font">
        <th>Email</th>
        <th>Affiliate</th>
        <th>Status</th>
        <th>Date Created</th>
        <th>Date Modified</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let contact of contacts"
        class="table-row-font table-hyperlink"
      >
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
      </tr>
    </tbody>
  </table>
</div>
